.app-social #emptycontent,
.app-social .emptycontent {
    margin-top: 5vh;
}

.app-social #emptycontent .icon-illustration,
.app-social .emptycontent .icon-illustration {
    height: 256px;
    width: 256px;
    margin: 0;
    opacity: 1;
}
