@include icon-black-white('reply', 'social', 1);
@include icon-black-white('emoji', 'social', 1);
@include icon-black-white('boost', 'social', 1);
@include icon-black-white('upload', 'actions', 1, true);
@include icon-black-white('notifications', 'social', 1);

.icon-boosted {
  @include icon-color('boost', 'social', '#0082c9', 1);
}
.icon-upload {
  @include icon-color('upload', 'actions', $color-black, 1, true);
}

img.emoji {
  margin: 3px;
  width: 16px;
  vertical-align: text-bottom;
}


// quick fix - TODO - remove this and fix the left panel
ul.app-navigation__list {
  display: none !important;
}
