# SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
js/
\.idea/
node_modules/
build/
vendor/
img/twemoji/

cypress/screenshots
cypress/snapshots

.php-cs-fixer.cache
.vscode/settings.json
