<?xml version="1.0" encoding="utf-8" ?>
<!--
  - SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
		 bootstrap="bootstrap.php"
		 colors="true"
		 failOnWarning="true"
		 failOnRisky="true"
		 beStrictAboutOutputDuringTests="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		>
	<testsuites>
		<testsuite name="Social App Tests">
			<directory suffix="Test.php">.</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">../lib</directory>
		</include>
	</coverage>
</phpunit>
